/*HOMEPAGE IMAGES*/

.homepage-images {
background: #1B1B1B;
height: 1540px
}

/*ROW*/

.images-first-line {
  display: flex;
}


.homepage-image-row {
padding-top: 100px;
padding-bottom: 40px;
padding-left: 100px;
padding-right: 40px;
}

.homepage-image-row1 {
  padding-top: 100px;
  padding-bottom: 40px;
  padding-right: 40px;
}

.homepage-image-row2 {
  padding-top: 100px;
 padding-bottom: 40px;
}

/*ROW 1*/

.images-second-line {
  display: flex;
}

.homepage-image-row-1 {
   padding-bottom: 40px;
   padding-left: 100px;
   padding-right: 40px;
}

.homepage-image-row1-1 {
  padding-bottom: 40px;
  padding-right: 40px;
}

.homepage-image-row2-1 {
 padding-bottom: 40px;
}

/*ROW 2*/

.images-third-line {
  display: flex;
}


.homepage-image-row-2 {
   padding-bottom: 40px;
   padding-left: 100px;
   padding-right: 40px;
}

.homepage-image-row1-2 {
  padding-bottom: 40px;
  padding-right: 40px;
}

.homepage-image-row2-2 {
 padding-bottom: 40px;
}

/*ROW 3*/

.images-fourth-line {
  display: flex;
}

.homepage-image-row-3 {
   padding-bottom: 40px;
   padding-left: 100px;
   padding-right: 40px;
}

.homepage-image-row1-3 {
  padding-bottom: 40px;
  padding-right: 40px;
}

.homepage-image-row2-3 {
 padding-bottom: 40px;
}

/*HOMEPAGE IMAGES END*/


@media (max-width: 992px) {
.hero-parent {
height: 500px;
}

.hero-text {
text-align: center;
margin-top: 200px;
}

h1 {
  font-size: 18px;
  letter-spacing: 1px;
}

h2 {
  font-size: 52px;
  letter-spacing: 1px;
}

h3 {
  font-size: 12px;
  line-height: 18px;
}

.hero-link {
  font-size: 10px;
  letter-spacing: 1px;
  padding: 9px 18px;
  margin-top: 8px;
}

.images-first-line {
flex-direction: column; 
}

.images-second-line {
flex-direction: column;
   padding-bottom: 40px;
   padding-left: 100px;
   padding-right: 40px;
}

.images-third-line {
flex-direction: column;
   padding-bottom: 40px;
   padding-left: 100px;
   padding-right: 40px;
}

.images-fourth-line {
flex-direction: column;
   padding-bottom: 40px;
   padding-left: 100px;
   padding-right: 40px;
}
} 
