@media (max-width: 992px) {
h1 {
font-size: 18px;
letter-spacing: 1px;
}

h2 {
  font-size: 52px;
  letter-spacing: 1px;
}

h3 {
  font-size: 12px;
  line-height: 18px;
}

.parent-image {
  display: flex;
  justify-content: center;
}

.hero-image {
  max-width: 100%;
} 

.hero-text {
  text-align: center;
  position: relative;
  margin-top: -425px;
}

.hero-link {
  font-size: 10px;
  letter-spacing: 1px;
  padding: 9px 18px;
  margin-top: 8px;
}

.background {

}

.row-one {
  display: flex;
  flex-direction: column;
 margin-left: 200px;
}

.row-two {
flex-direction: column;
justify-content: center;
}

.row-three {
 flex-direction: column;
 justify-content: center;
}

.row-four {
flex-direction: column;
justify-content: center;
}



/* .container {
  margin-top: 210px;
  margin-left: 0px;
} 

.background {
  background: #1B1B1B;
  height: 3700px;
}

.first-line {
  padding-top: 100px;
  justify-content:space-between;
}

.second-line {
  justify-content:space-between;
    max-width: 100%;
}

.third-line {
   justify-content:space-between;
}

.fourth-line {
  justify-content: space-between;
}  */
} 


@media (max-width: 726px) {
h1 {
font-size: 18px;
letter-spacing: 1px;
}

h2 {
  font-size: 52px;
  letter-spacing: 1px;
}

h3 {
  font-size: 12px;
  line-height: 18px;
}

.parent-image {
  display: flex;
  justify-content: center;
}

.hero-image {
  max-width: 992px;
}

.hero-text {
  text-align: center;
  position: relative;
  margin-top: -425px;
}

.hero-link {
  font-size: 10px;
  letter-spacing: 1px;
  padding: 9px 18px;
  margin-top: 8px;
}
/* 
.container {
  margin-top: 210px;
  margin-left: 165px;
  max-width: 100%;
}

.background {
  background: #1B1B1B;
  height: 3700px;
  width: 992px;
} */
}



@media (max-width: 576px) {
h1 {
font-size: 18px;
letter-spacing: 1px;
}

h2 {
  font-size: 52px;
  letter-spacing: 1px;
}

h3 {
  font-size: 12px;
  line-height: 18px;
}

.parent-image {
  display: flex;
  justify-content: center;
}

.hero-image {
  max-width: 992px;
}

.hero-text {
  text-align: center;
  position: relative;
  margin-top: -425px;
}

.hero-link {
  font-size: 10px;
  letter-spacing: 1px;
  padding: 9px 18px;
  margin-top: 8px;
}

/* .container {
  margin-top: 210px;
  margin-left: 85px;
}

.background {
  background: #1B1B1B;
  height: 3700px;
  width: 992px;
} */
}

