/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Montserrat', sans-serif;*/



h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1px;
  color: white;
  margin-top: -70px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 72px;
  letter-spacing: 1px;
  color: white;
  margin-top: 20px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: white;
  margin-top: 24px;
}

.hero-image {
  width: 100%;
  height: auto; 
}

.hero-text {
  text-align: center;
  position: relative;
  margin-top: -590px;
}

.hero-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #272142;
  background-color:white;
  padding: 18px 40px;
  border-radius: 50px;
  margin-top: 22px;
}

/* .background {
  background: #1B1B1B;
  position:relative;
  height: 1540px;
  margin-top: -1367px;
  z-index: 1;
} */

/* .container {
  margin-top: 283px;
  position: relative;
  z-index: 2;
}

.image-107 {
  padding-top: 100px;
  padding-bottom: 35px;

}

.image-108 {
  padding-top: 100px;
  padding-bottom: 35px;

}

.image-109 {
  padding-top: 100px;
  padding-bottom: 35px;
}

.image-107-1 {
padding-bottom: 40px;
}

.image-108-1 {
padding-bottom: 40px;
}

.image-108-1 {
padding-bottom: 40px;
}

.image-107-3 {
padding-bottom: 40px;
}

.image-108-3 {
padding-bottom: 40px;
}

.image-108-3 {
padding-bottom: 40px;
} */


/* .first-line {
  padding-top: 100px;
  justify-content:space-between;
}

.second-line {
  justify-content:space-between;
    width: 900px;
}

.third-line {
   justify-content:space-between;
   width: 1050px;
}

.fourth-line {
  justify-content: space-between;
} */

/* 
.row-one {
  padding-top: 400px;
  padding-bottom: 40px;
}

.row-two {
 padding-bottom: 40px;
}

.row-three {
  padding-bottom: 40px;
}

.row-four {
  padding-bottom: 40px;
} */