/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Montserrat', sans-serif;*/

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1px;
  color: white;
  margin-top: -70px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 72px;
  letter-spacing: 1px;
  color: white;
  margin-top: 20px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: white;
  margin-top: 24px;
}

.hero-parent {
/* background-image: url(../Images/bg-s.png);
background-size: cover;
background-position: center;
height: 900px;
display: flex;
justify-content: center; */
}

.hero-image {
  display: flex;
  justify-content: center;
}

.main-image {
  max-width: 100%;
}

.hero-text {
  text-align: center;
  position: relative;
  margin-top: -590px;
}

.hero-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #272142;
  background-color:white;
  padding: 18px 40px;
  border-radius: 50px;
  margin-top: 22px;
}

.background {
  background: #1B1B1B;
  height: 1540px;
}

.container {
  margin-top: 283px;
}

.first-line {
  padding-top: 100px;
  justify-content:space-between;
}

.second-line {
  justify-content:space-between;
    width: 900px;
}

.third-line {
   justify-content:space-between;
   width: 1050px;
}

.fourth-line {
  justify-content: space-between;
}
